/.ICEauthority
/.bash_history
/.bash_logout
/.cache/
/.config/
/.dbus/
/.gitconfig
/.gnupg/
/.lesshst
/.local/
/.mozilla/
/.oracle_jre_usage/
/.pam_environment
/.presage/
/.ssh/
/.sudo_as_admin_successful
/.thunderbird/
/.xinputrc
/Downloads/
/examples.desktop

