/.ICEauthority
/.bash_history
/.bash_logout
/.cache/
/.config/
/.dbus/
/.gitconfig
/.gnupg/
/.lesshst
/.mozilla/
/.oracle_jre_usage/
/.pam_environment
/.presage/
/.ssh/
/.sudo_as_admin_successful
/.thunderbird/
/.xinputrc
/Downloads/
/examples.desktop
/.IdeaIC2018.1/
/.eclipse/
/.gradle/
/.java/
/.swt/
/idea-IC-181.5087.20/
/scm/
/workspace/
/.wget-hsts
/.Xauthority
/.atom/
/.bashrc
/.compiz/
/.dmrc
/.nv/
/.pki/
/.profile
/.sogouinput/
/.sunpinyin/
/.xsession-errors
/.xsession-errors.old

